

@import "common/_variables";

// About Page
// ============================================================================================================
.about-wrapper{
    h3{
        padding: 0px;
        margin: 0px;
    }

    p{
        font-size: 15px;
    }  

    .line-grey {
        border: 0;
        height: 1px;
        background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.09), rgba(0,0,0,0)); 
        background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.09), rgba(0,0,0,0)); 
        background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.09), rgba(0,0,0,0)); 
        background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.09), rgba(0,0,0,0)); 
    }

    .section{
        padding: 60px 0px 60px 0px;
    }
    
    .section-first{
        padding-bottom: 60px;
    }

    .glyphicon{
        font-size: 90px;
        color: $color1;
    }

    .user-1{
        padding-top: 5px;
        font-size: 55px;
    }

    .user-2{
        font-size: 60px;
    }
}
