

@import "common/_variables";

// About Page
// ============================================================================================================

.addCustomer-wrapper{
    width: 100%;
    background: white;
    border-left: 1px solid lighten(black, 90%);
    border-right: 1px solid lighten(black, 90%);
    border-bottom: 1px solid lighten(black, 90%);
}

.addCustomer-map{
    width: 100%;
    height: 200px;
}

#map-addCustomer {
    height: 100%;
    margin: 0px;
    padding: 0px;
}