
@import "common/_variables";

// Alerts Error Messages
// ============================================================================================================

.alert-search{
    position: absolute;
    top: 66;
}

.popover {
    color: darken($c-danger, 25%);
}
