
@import "common/_variables";

// Blog Page
// ============================================================================================================

.btn-blog{
    width: 160px;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: $color-icon-light;
    font-size: 11px;
    border: 2px solid $color-icon-light;
    border-radius: 2px;
}

.btn-blog:hover{
    color: $color-text;
    border: 2px solid $color-text;
}

.blog-tag{
    width: auto;
    height: auto;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: $color-icon-light;
    font-size: 9px;
    border: 1px solid $color-icon-light;
    border-radius: 2px;
    display: inline-block;
}

.blog-tag:hover{
    color: $color-text;
    border: 1px solid $color-text;
}

.blog-image{
    width: 100%;
    height: auto;
}