
@import "common/_variables";

// Notes
// ============================================================================================================
// hover over varified will show its varified
// a reported user will have there varified become unvarified
// all unvarified accounts will need to be reviewed by human to become unvarified or ells will remain
// three ways of registering -domain- -facebook- -other- domain and facebook will be auto varified
// -other- register will lead to a warrning about not being varified and is not recumeneded as human var is required
// Thank users who rated a certain number of people
//  asure that no one will ever spam them, caus wea cutualy wont be, who has time rofr that

// Customer Page
// ============================================================================================================
.customer-wrapper{
    h1,h2,h3,h4,h5,h6{
        font-weight: 100;
        font-family: Open Sans, sans-serif;
        margin: 0px;
        padding: 0px; 
    }

    h1{
        text-transform: uppercase;
        color: $c-grey-dark;
    }

    h3{
        font-weight: 200;
        color: $c-grey-dark;
    }
    
     h4, h4 small{
        font-weight: 400;
        color: $c-grey-dark;
    }
    
    .address-box{
        margin-top: 6px;
        margin-left: 20px;
    }
    
    .cu-house-band{
        background: white;
        text-transform: capitalize;
        width: 100%;
        border-bottom: 4px solid $c-grey-lighter;
    }

    .map-band{
        height: 460px;
        width: 100%;
    }   

    .badge-danger{
        background: $c-danger;
    }

    .badge-warning{
        background: $c-warning;
    }

    .badge-default{
        background: $color1;
    }

    .fa-user{
         font-size: 35px;
         color: $color1;
    }

    .nonvarified{
        opacity: .3;
    }

    .glyphicon-ok{
        margin-right: 4px;
        color: $c-success;
    }

    .glyphicon-remove{
        margin-right: 3px;
        color: $c-danger;
    }
    
    table thead tr th, table tbody tr td{
       border-right: 0px;
       border-left: 0px;
    }
    
    th{
        background: $c-grey-lighter;
    }
}

// customer page buttons
// ============
.button-customer{
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  border-radius: 2px;
  width: 210px;
  line-height: 16px;
}




// this is all messed up - the map drop shadow will make map look sunk in
.map-band{
    z-index: 99;
}

.map-band:before {
    content: '';
    position: absolute;
    height: 100%;
    right: 0;
    -webkit-box-shadow: inset -2px 0 2px rgba(0,0,0,0.1);
    box-shadow: inset -2px 0 2px rgba(0,0,0,0.1);
    width: 6px;
    z-index: 100;
}

.td-stack {
    display: block;
    clear:both;
}

.review-date{
    font-size: 11px;
    color: lighten($c-primary, 5%);
}

.progress-bar-info{
    background-color: $color1 !important;
}


// Print page options
// ============================================================================================================
@media print {  
    @page {
        margin: 10mm;
        font-size: x-small !important;
        size: auto;
    }
}

.printable { display: none; }

@media print
{
    .non-printable { display: none;
                     visibility: hidden;
    }
    
    .printable { display: block; }

    }
    
    .list-group-item {
        min-width: 200px;
    }
