
@import "common/_variables";

// Dashboard Page
// ============================================================================================================

// delete client style
.fa-times{
    color: lighten(black, 90%);
}

.fa-times:hover{
    color: lighten($c-danger, 5%);
}

.dash-wrapper{
    
    .panel-body, .panel-default{
        background: white;
    }
    
    .col-md-3{
        padding-right: 0px;}
}

.dash-pannel-2{
    height: 200px;
    background: white;
    border: 1px solid $c-grey-lighter;
    border-radius: 3px;
    padding: 30px;
}

.dash-wrapper .panel-heading{
    font-size: large;
    font-weight: 600;
    font-family: sans-serif;
}

.dash-wrapper form{
    padding: 0px;
    margin: 0px;
}

#search-wrapper{
    h1,h2,h3,h4,h5,h6{
        font-weight: 100;
        font-family: Open Sans, sans-serif;
        margin: 0px;
        padding: 0px;
    }

    h1{
        color: white;
        font-size: 3.5em;
        font-weight: 100;
        line-height: 110px;
    }

    h2{
        color: white;
        font-size: 1.3em;
        font-weight: 100;
    }

    h3{
        font-size: 1.8em;
        font-weight: 100;
    }  

    h4{
        font-size: 4em;
        font-weight: 100;
    }
    h5{
        //none
    }
    h6{
        //none
    }
}

// Panel Styleing
// ============================================================================================================
.panel-primary > .panel-heading{
    background: #EBEBEB;
    border-color: #EBEBEB;
    color: $c-grey-darker;
}

.panel-primary{
    border-color: lighten(black, 90%);
}

.glyphicon-cog{
    padding-top: 3px
}


// dash tab heading
// ============================================================================================================

// default headings
.tab-text{
    color: darken($color1, 5%);
    font-weight: 700 !important;
    font-size: 13px;
}

// best and worst
.tab-best{
    color: darken($c-info, 22%) !important;
}

.tab-worst{
    color: darken($c-danger, 22%)!important;
    font-weight: 700 !important;
    font-size: 13px;
}

.tab-worst:active{
    color: darken($c-danger, 22%)!important;
}

.fa-sort-up, .fa-sort-down{
    line-height: 2px !important;
}



// dash tabs
.dash-wrapper .panel-default{
 border-color: white;
}

.nav-tabs li .active{
 border-color: white;
}



.dash-tabs .active{
    color: black !important;
    border-color: green !important;
}