
@import "common/_variables";

// FAQ Page
// ============================================================================================================
.faq-band{
    background: $color-background;
}

.faq-band {
    .panel-default{
        border: none;
        background: white;
        -webkit-tap-highlight-color: none;
        border-radius: .3px;
    } 


    .panel-heading{
        color: $color1;
        background: $color-background;

    }

    .panel-body{
        background: darken($color-background, 5%);
    }
}







