
@import "common/_variables";

// Footer
// ============================================================================================================
.footer-wrapper{
    padding-top: 50px;
    padding-bottom: 50px;
    background: darken($c-grey, 15%);
    color: $c-grey;
    font-size: 11px;
}

.footer-links{
    padding-bottom: 20px;
    padding: 0px;
}

.footer-wrapper hr{
    border-color: $c-grey;
    padding-bottom: 20px;
}

.footer-wrapper h5, .footer-wrapper a{
    color: #cacccd;
    font-weight: bold;
}

.footer-wrapper h5{
    font-size: 14px;
}

.footer-wrapper a{
    font-size: 11px;
}

.footer-wrapper a:hover{
    color: $c-grey-light;
}

