
@import "common/_variables";

// Header
// ============================================================================================================

.content-wrapper{
    min-height: 100%;
}

// Header - Navigation For Only Home
// ============================================================================================================
.home{
    #header.unScrolled{
        visibility: hidden;
        .homenav li{//targeting unscrolled navbars
                    visibility: visible;
                    background: none;
                    color: white;
                    &.homenav-review{
                        background: $color1-light;
                        border-bottom: 2px solid $color1;
                        padding: 5px 20px 5px 20px;
                        margin-top: 14px;   
                    }
        }
        .space-header-sm{
            width: 100%;
            height: 10px;
        }
    }
}

.homenav li{
    &.homenav-review{
        color: white;
        background: $color1-light;
        border-bottom: 2px solid $color1;
        padding: 5px 20px 5px 20px;
        margin-top: 14px;  
    }
}

#header.unScrolled .dropdown-menu{
    visibility: visible;
    margin-right: 175px;
    color: $color-text;
    margin-top: -5px;
}

#header .dropdown-menu{
    overflow: visible;
    top: 47px;
    width: 280px;
    margin-right: 20px;
    margin-right: 175px;
    margin-top: -5px;
}

.dropdown-menu-dash{
    margin-right: 20px !important;
    top: 54px !important;
}

.homenav li{
    &.homenav-review:hover{
        -webkit-filter: brightness(1.1);
        -moz-filter: brightness(1.1);
        -o-filter:  brightness(1.1);
        -ms-filter:  brightness(1.1);
    }
}

#header{
    width: 100%;
    height: 60px;
    background: #fff;
    border-bottom: 2px solid #e8e9e7;
    z-index: 99;
    padding-top: 1px;
}

.home{
    .header-fixed{
        position: fixed;
    }
}

.nav0{
    display: inline;
    float: right;
    padding: 10px 20px 10px 20px;
    color: $color1;
    border: 1px solid $color1;
    background: white;
    border-radius: 2px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, .1);
    margin-top: 8px;
}

.header-nav-review{
    display: inline;
    float: right;
    padding: 10px 20px 10px 20px;
    color: white;
    border: 1px solid $color1;
    background: white;
    border-radius: 2px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, .1);
    margin-top: 8px;
    background: $color1;
}

.header-nav-dashboard{
    margin-right: 20px;
}

.homenav0{
    display: inline;
    float: right;
    padding: 10px 0px 10px 0px;
    margin: 10px 25px 0px 0px;
    color: $color1;
    border-radius: 2px;
    font-size: 13px;
}

.pointer:hover{
    cursor: pointer;
}

.logo-header{
    height: 46px;
    margin-top: 8px;
}

.logo-header-before{
    visibility: visible;
    height: 46px;
    margin-top: 10px;
    position: fixed;
    z-index: -1;
}




