
@import "common/_variables";

// Help Dropdown
// ============================================================================================================
.help-wrapper{
    background: $color4;
    color: white !important;
}
