
@import "common/_variables";

.landing-wrapper{
    background: white;
    
    
    // Home Buttons
    // ============
    .button-home{
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 21px;
        padding-bottom: 21px;
        font-size: 15px;
        font-weight: 700;
        border-radius: 8px;
        width: 210px;
        color: white;
    }

    // home video icon
    // ===============
    .glyphicon-play-circle{
        font-size: 60px;
        color: white;
        opacity: .3;
    }
    
    .glyphicon-play-circle:hover{
        font-size: 60px;
        color: white;
        opacity: .8;
    }

    // Landing Belt
    // ============
    .landing-belt{
        padding-left: 5px;
        padding-right: 5px;
    }

    @media(min-width: 768px) {
        .landing-belt{
            padding-left: 100px;
            padding-right: 100px;
        }
    }




    // Highlight Selection
    // ===================

    /*** Works on common browsers ***/
    ::selection {
        background-color: $color2;
        color: white;
    }

    /*** Mozilla based browsers ***/
    ::-moz-selection {
        background-color: $color2;
        color: white;
    }

    /***For Other Browsers ***/
    ::-o-selection {
        background-color: $color2;
        color: white;
    }

    ::-ms-selection {
        background-color: $color2;
        color: white;
    }

    /*** For Webkit ***/
    ::-webkit-selection {
        background-color: $color3;
        color: white;
    }


    // Testimonial
    // ===========
    .carousel-inner{
        width: 100%;
        height: auto;
    }

    .carousel-control{
        background: none;
    }

    .glyphicon{
        color: lighten(black, 85%);
    }

    .carousel-inner{
        .img-circle{
            width: auto;
            height: 55px;
        }
    }

    // Normal Styling
    // ==============

    .video-loop{
        position: absolute; right: 0; bottom: 0;
        min-width: 100%; min-height: 100%;
        width: auto; height: auto; z-index: 1;
        background: url(polina.jpg) no-repeat;
        background-size: cover;
        opacity: .3;
    }

    .landing-underlay{
        position: absolute;
        top: 0;
        left:0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: 0;
        background: darken($color1,12%);
    }

    .landing-overlay{
        position: absolute;
        top: 0;
        left:0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: 3;
    }

    .landing-overlay{
        h1{
            font-size: 50px;
            color: white;
        }

        h2{
            font-size: 24px;
            color: white;
        }
    }

    .fa{
        color: $color2;
    }

    .fa-angle-down{
        color: white;
        opacity: .4;
        bottom: 30px;
        z-index: 10;
    }
}

