

@import "common/_variables";

// Learn Center
// ============================================================================================================


.sub-pennant-wrapper{
    li{
        border-left: 4px solid $color-background;
        a{
           color: $color-text; 
        }
    }
    
    li.active{
        border-left: 4px solid $c-grey;
        font-weight: 600;
    }
}

.learncenter-wrapper{
    background: $color-background;
    padding-left: 0px;
    padding-right: 0px;
}

@media(min-width: 768px) {
.learncenter-wrapper{
    background: $color-background;
    padding-left: 5%;
    padding-right: 5%;
}
}

.learncenter-wrapper{
    h2{
        margin-top: 0px;
    }
      h3{
        margin-top: 0px;
    }
    
   
}


// Sub-pennant Jazz - put on other css
// ============================================================================================================
//// noonee
.sub-pennant-wrapper{
    .fa{
        font-size: 18px;
    }
}

// Sign up banner
.signup-banner{
    color: white;
    background: $color4;
    padding-top: 60px;
    padding-bottom: 60px;
}

.signup-banner{
    h2{
        margin: 0px;
        padding: 0px;
    }
}


.signup-banner{
    .btn{
        margin-top: 30px;
         margin-bottom: 10px;
    }
}
