
@import "common/_variables";

// Home Page
// ============================================================================================================
.band1 .belt{
    padding: 25px;
}

.space-home{
    width: 100%;
    height: 100px;
}

@media(min-width: 768px) {
.space-home{
    height: 240px;
}
}


#home-wrapper{
    h1,h2,h3,h4{
        font-weight: 100;
        color: white;
        font-family: Proxima, Open Sans, sans-serif;
    }

    h1{
        text-align: center;
        font-size: 4em;
        text-shadow: 0px 2px 0px rgba(19, 19, 19, .4);
        letter-spacing: .02em;
        margin-bottom: 6px;
        font-weight: 400;
        letter-spacing: -.03em;
    }

    h2{
        text-align: center;
        font-weight: 200;
        font-size: 2.1em;
        margin-top: 0px;
        margin-bottom: 20px;
        letter-spacing: .05em;
    }

    h3{
        font-weight: 100;
        color: $color1;
        font-size: 4.2em;
        margin-top: 0px;
        padding-top: 0px;
    }

    h4{
        font-weight: 400;
        color: #525252;
        font-size: 1.6em;
        margin-top: 0px;
        padding-top: 0px;
        text-transform: uppercase;
        padding-bottom: 4px;
    }

    p{
        color: $color-text;
        font-size: 1.35em;
        font-weight: 400;
    }}

.home-width-fix{
    min-width: 100%;
}

// Tired Band
// ============================================================================================================
.learn-more{
    width: 100%;
    height: 100px;
    position: absolute;
    color: white;
    top: 81%;
    z-index: 5;
    font-size: 60px;
    font-weight: 100;
    letter-spacing: .03em;
    -webkit-animation: pulsate 1.5s ease-out;
    -webkit-animation-iteration-count: 5;
    -webkit-animation-delay: 6s; /* Chrome, Safari, Opera */
    animation-delay: 6s;
    opacity: 0;
}
@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(1, 1); opacity: 0;}
    50% {opacity: .4;}
    100% {-webkit-transform: scale(.7, .7); opacity: .04;}
}

.screen-band{
    position: relative;
}

.moz-screen-band{
    width: 100%;
    min-height: 100%;
}

@media(min-width: 768px) {
.moz-screen-band{
    width: 100%;
    min-height: 500px;
}}

.bandTired{
    width: 100%;
    height: 95%;
}

// Founded in Boston
// ============================================================================================================
.line-band{
    margin-bottom: 30px;
}

.tired-line{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    color: white;
    font-weight: 100;
    opacity: .70;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1em;
    font-size: small;
}

// Sign up for Free
// ============================================================================================================
.tiredNav{
    margin-top: 12px;
    margin-bottom: 12px;
    display: inline-block;
    padding: 10px 90px 10px 90px;
    font-weight: 500;
    text-shadow: 0px 1px 0px rgba(19, 19, 19, .4);
    font-size: 1.4em;
    border-radius: 2px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, .2);
}

.tiredNav:active{
    text-shadow: 0px 0px 0px rgba(255, 255, 255, .1);
}

.tiredNav1, .tiredNav1:active{
    color: rgba(0, 0, 0, .5);
    background: $color2-light;
    border-bottom: 4px solid rgba(0, 0, 0, .4);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, .2);
}

.tiredNav1:hover{
    -webkit-filter: brightness(1.05);
    color: rgba(0, 0, 0, .45);
}

.tiredNav2{
    color: $color1-dark;
    border: 1px solid $color1;
    border-radius: 2px;
    background: $color1;
    border-bottom: 4px solid $color1-dark;
}

.tiredNav2:active{
    color: $color1-dark;
    border: 1px solid $color1;
    background: $color1;
    border-bottom: 4px solid $color1;
}

.tiredNav2:hover{
    color: $color1-dark;
}

// About Band
// ============================================================================================================
.aboutBand{
    background: white;
    border-radius: 0px 0px 0px 0px;
}

@media(min-width: 768px) {
    .aboutBand{

        border-radius: 0px 10px 10px 0px;
    }
}

.aboutContainer{
    padding: 50px;
}

.aboutIconBox{
    position: relative;
    margin-top: 50%;
}

.aboutIcon{
    margin-top: -100px;
}

// Example Band
// ============================================================================================================
.carousel-site-band{
    max-width: 100%;
}

// Avoid Band
// ============================================================================================================
.avoidBand{
    background: white;
    padding: 40px;
}

@media(min-width: 768px) {
    .avoidBand .glyphicon{
        font-size: .8em;
    }}

.avoidBand .glyphicon{
    font-size: 1.6em;
}

.avoidBand h3, .avoidBand h4{
    text-align: center;
}

.avoidBand h4{
    padding-bottom: 10px;
}

.avoidBand span{
    padding: 10px;
}

.avoidBand p{
    color: $color-text;
    font-size: 1.3em;
    line-height: 1.1em;
    font-weight: 400;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.avoid-circle{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 2px solid $c-grey-lighter;
    margin: auto;
}

.avoid-icon{
    text-align: center;
    color: $color1;
    font-size: 4.5em;
    padding-top: 39px;
}

// Rateing Band
// ============================================================================================================
.rateBand h3, .rateBand h4, .rateBand p{
    color: white !important;
}

.rateBand{
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;

}

@media(min-width: 768px) {
   .rateBand{
         padding-left: 0px;
    padding-right: 0px;
    }
}

// Privacy Band
// ============================================================================================================
.privacyBand{
    background: white;
    border-radius: 8px;
    margin-right: 0px;
    padding-right: 0px;
    border-radius: 0px 0px 0px 0px;
}

@media(min-width: 768px) {
    .privacyBand{
border-radius: 10px 0px 0px 10px;
    }
}

.privacyContainer{
    padding: 50px;
}

.privacyIcon{
    top: -50px;
    left: 60%;
    padding-right: 10%;
    position: absolute;
}

@media(min-width: 768px){
    .privacyIcon{
        left: 60%;
        padding-right: 10%;
        position: absolute;
    }}

// Curousal Image
// ============================================================================================================
#carousel-site{
    .glyphicon-chevron-left{
        left: -100px;
    }
    .glyphicon-chevron-right{
        right: -100px;
    }
}

.carousel-wrapper{
    width: 100%;
    height: 225px;
    max-height: 225px;
}

.tales{
    width: 100%;
}

.carousel-home img{
    width: auto;
    height: auto;
    max-height: auto;
    overflow: hidden;
    -webkit-filter: url(#svg-blur);
}

// indevidual styling for home carousels
#carousel-example-generic{
    h1{
        font-weight: 100;
        padding-bottom: 60px;
        text-transform: uppercase;
        font-size: 40px;
    }
}

#carousel-site{
    h1{
        font-weight: 100;
        text-transform: uppercase;
        font-size: 60px;
        background: rgba(255,255,255,0.8);;
        border-radius: 3px;
        color: $color1;
        text-shadow: none;
        margin-bottom: 70%;
    }
    .carousel-control{
        background:  none;
    }
}

#home-wrapper{
    .col-md-8, .col-md-12{
        padding-right: 0px;
        padding-left: 0px; 
    }
}

// Home Icons
// ============================================================================================================
.roundIcon{
    z-index: 2;
    height: 200px; 
}

// Home Lean More Buttom
// ============================================================================================================
.learn-button{
    height: 60px;
    width: 100%;
    border-radius: 4;
    border: 2px solid white;

    color: white;
    line-height: 60px;
    font-size: x-large;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 0px;
}

.learn-button:hover{
    background: white;
    color: $color1;
}

// Full CSS and fa-awsome Circle Icons (experimental)
// ============================================================================================================
.badge-home{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: auto;
    background: $color2-light;
}

.badge-home .fa{
    font-size: 100px;
    color: black;
    margin-left: 55px;
    margin-top: 47px;
    opacity: .4;
}

.badge-home-1{
}

.badge-home-2{
}

.badge-home-3{
}

.badge-home-4{
}


