
@import "common/_variables";

// Pennant Page
// ============================================================================================================
.pennant-band{
    width: 100%;
    height: 36px;
    background: $c-grey;
    cursor: default;
}

.pennant-box{
    line-height: 23px;
    padding: 7px 0px 1px 0px;
    display: inline-block;
    border-bottom: 5px solid none;
    margin: 0px 18px 0px 18px;
    color: #cacccd !important;
    cursor: pointer !important;
}

.pennant-box-1{
    padding-left: 0px !important;
    margin-left: 0px !important;
}

.pennant-current{
    border-bottom: 5px solid #CFCFCF;
    color: white !important;
}

.pennant-tab{
    height: 100%;
    font-size: 12px;
}

.pennant-box:hover{
    color: white !important;
    -o-transition: color .2s ease-out;
    -ms-transition: color .2s ease-out;
    -moz-transition: color .2s ease-out;
    -webkit-transition: color .2s ease-out;
    transition: color .2s ease-out;
}

.pennant-text{
    color: #cacccd;
}

.pennant-text:hover{
    color: white;
}

// Pennant External Social Media Links
// ============================================================================================================
.icon{
    color: white;
}


.pennant-external-link{
    margin: 0px;
    padding: 0px;
}

.pennant-external-link li {
    color: #cacccd; 
    display: inline-block;
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 11px;
    padding-bottom: 10px;
}

.pennant-external-link li:hover {
    background: $color1;
    color: whitesmoke;
    -o-transition: background .4s ease-out;
    -ms-transition: background .4s ease-out;
    -moz-transition: background .4s ease-out;
    -webkit-transition: background .4s ease-out;
    transition: background .4s ease-out;
}
