
@import "common/_variables";

// Register Page
// ============================================================================================================
    .fa-reply{
        position: absolute;
        margin-left: 40px;
        margin-top: 20px;
         z-index: 1;
         color: $c-grey;
    }

// bacground
.register-wrapper{
    background: url(../images/pattern1.jpg) fixed repeat;
    height: 100%;
    width: 100%;
    z-index: -2;
    position: fixed;
}

.drop-shadow{
    background: black;
    opacity: .35;
    height: 100%;
    width: 100%;
    z-index: -1;
    position: fixed;
}

// register modal
.register-modal{
    .form-group{
        margin: 0px;
    }
}

.register-login{
    .form-group{
        margin-bottom: 10px;
    }
}


.register-modal{
    background: white;
    width: 100%;
    height: auto;
    border-radius: 14px 14px 8px 8px;
    margin-top: 4%;
}

@media(min-width: 768px) {
    .register-modal{
        width: 440px;
    }
}

.register-modal-header{
    background: #323a45;
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0px 0px;
}

.register-modal-subheader{
margin-bottom: 30px;
}

.register-logo{
    width: 200px;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 15px;
}

.register-modal-body{
    padding-left: 42px;
    padding-right: 42px;
    padding-top: 30px;
    padding-bottom: 30px;
}


// register buttons

.register-button{
    width: 100%;
    height: auto;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    border-radius: 4px;
}

.register-button:hover {
    -webkit-filter: brightness(110%);
}

.register-button-premium{
    color: white;
    background: $color2;
    border: 1px solid $color2;
}

.register-button-domain{
    color: white;
    background: #D44D5C;
    border: 1px solid #D44D5C;
}

.register-button-facebook{
    color: white;
    background: #3b5998;
    border: 1px solid #3b5998;
}

.register-button-limited{
    background: lighten(black, 92%);
    color: lighten($c-grey, 25%);
    border: 1px solid lighten($c-grey, 35%);
}

// text below the register and login panel to switch over
.register-login-text{
    position: absolute;
    margin-top: 40px;
    color: lighten($c-grey, 30%);
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.register-register-text{
    position: absolute;
    margin-top: 40px;
    color: lighten($c-grey, 30%);
    margin-left: auto;
    margin-right: auto;
}