
@import "common/_variables";

// Search Banner
// ============================================================================================================
.icon-pattern {
    //background-image: url("../images/icon-pattern.png");
    background-repeat: repeat-y;
    z-index: 99;
}

.search-wrapper{
    h1,h2,h3,h4,h5,h6{
        font-weight: 100;
        font-family: Open Sans, sans-serif;
        margin: 0px;
        padding: 0px;
    }

    h1{
        color: white;
        font-size: 3.5em;
        font-weight: 100;
        line-height: 110px;
    }

    h2{
        color: white;
        font-size: 1.3em;
        font-weight: 100;
    }

    h3{
        font-size: 1.8em;
        font-weight: 100;
    }  

    h4{
        font-size: 4em;
        font-weight: 100;
    }
    
    .form-group{
        margin-bottom: 0px;
    }
    }

    .search-box{
        background-color: $color1;
        background-image: -webkit-gradient(linear,left top,left bottom,from(darken($color1, 5%)),to(lighten($color1, 2%)));
        background-image: -webkit-linear-gradient(top,darken($color1, 5%) 0,lighten($color1, 2%) 100%);
        background-image: -o-linear-gradient(top,darken($color1, 5%) 0,lighten($color1, 2%) 100%);
        background-image: linear-gradient(to bottom,darken($color1, 5%) 0,lighten($color1, 2%) 100%);
    }

    .search-banner-form1{
    border-radius: 2px 0px 0px 2px !important;
    border-right: 2px solid $c-grey-lighter;
}

.search-banner-form2{
   border-radius: 0px 2px 2px 0px !important;
}

.search-banner-button{
    border-radius: 2px;
    margin-left: 4px;
}

.dash-search-box{
    width: 100%;
    height: 50px;
    border: 0px;
    padding: 2px 0px 2px 8px;
    font-size: large;
}

.dash-search-board{
    background: darken($color1, 5%);
    border-radius: 2px;
    padding: 3px;
    margin: 0px;
}

.dash-col-9{
    padding-left: 0px;
    padding-right: 0px;
}

.dash-search-button{
    width: 100%;
    height: 50px;
    background: lighten($color1, 8%);
    border-radius: 2px;
    color: darken($color1, 5%);
    font-size: medium;
}

.dash-search-button:hover{
    background: lighten($color1, 10%);
    color: darken($color1, 5%);
}

.search-wrapper{
.dash-search-board{
    margin-top: 10px;
}
}

.label-height{
    width: 100%;
}

.search-height{
    width: 100%;
    margin-top: 10px;
     margin-bottom: 10px;
}
