
@import "common/_variables";

// Settings Page
// ============================================================================================================

.settings-wrapper{
    .form-group{
        width: 200px;
    }
    hr{
        background: lighten(black, 80%);
    }
}

.settings-wrapper{
    .panel-heading, .panel{
        background: $color-background;
    }
}