@import "common/_variables";

// Side Bar - Dash
// ============================================================================================================
.sidebar-wrapper{

}


blockquote {
  color: rgba(0, 0, 0, .25);
  font-weight: 700;
}

.sideBar-info-box {

  ul {
    overflow: auto;
    padding: 0px;
  }

  ul li {
    list-style-type: none;
    float: left;
    margin-right: 8px;
  }

  ul li a i {
    font-size: 36px;
    transition: all 0.2s ease-in-out;
  }

  .fa-facebook-square {
    color: #3b5998;
  }

  .fa-linkedin-square {
    color: #007bb6;
  }

  .fa-twitter-square {
    color: #00aced;
  }

  .fa-google-plus-square {
    color: #dd4b39;
  }
}

// side bar
// ======================
.sideBar-info-box {
  font-weight: 400;
  font-size: 16px;
  border-radius: 4px;
  padding: 35px 30px 35px 30px;
  margin: 0px 0px 10px 0px;
}

.dash-info-quote {
  //    background: lighten($color3, 15%);
  background: $color3;
  border-bottom: 0px;
  min-height: 150px;
}

.dash-info-quote .fa {
  font-size: 140px;
  color: darken($color3, 50%);
  opacity: .05;
  position: absolute;
  top: 0px;
  right: 40px;
  overflow: hidden;
}

blockquote {
  border-left: 0px;
  margin: 0px;
  padding: 0px
}

