
@import "common/_variables";

// Sign In Page
// ============================================================================================================
@media(min-width: 768px){
.modal-content-home{
    margin-top: 50%;
    }
}

.signin-wrapper{
.signin-box{
    font-family: Arial, sans-serif;
    background: white;
    font-size: 13px;
    padding-right: 14px;
    padding-left: 14px;
    padding-top: 0px;
    padding-top: 20px;
    padding-bottom: 30px;
    border-radius: 4px;
}
}

.signin-box .form-control, .signin-box .btn-primary{
    height: 42px;
}



