@import "variables";

// To DO:
// -----------------------
// - get all
// - neeten
// - in order
// - check consistencey
// -----------------------
// -----------------------



// =====================
// ===== Brickwork =====
// =====================


// Belt
.belt{
    width: 90%;
    margin: auto;
}

@media(min-width: 768px) {
    .belt{
        width: 90%;
        margin: auto;
    }
}

.belt-none-xs{
    width: auto;
    margin: auto;
}

@media(min-width: 768px) {
    .belt-none-xs{
        width: 90%;
        margin: auto;
    }
}



// Mis =========
// ==============
.line-height-p{
    line-height: 22px;
}



.font-family{
    font-family: "Source Sans Pro", "Asap","Open Sans",sans-serif;
}

.color-icon-light{
  color: $color-icon-light;
}

.color-icon-light:hover{
  color: lighten($c-danger,5%);
}

// Headers
// =======
h1, h2, h3, h4, h5, h6{
    margin: 0px;
    color: $c-grey;
}

// Fonts
// =====
.extralight{
    font-weight: 200;
}

.extralight-it{
    font-weight: 200;
    font-style: italic;
}

.light{
    font-weight: 300;
}

.light-it{
    font-weight: 300;
    font-style: italic;
}

.normal{
    font-weight: 400;
}

.normal-it{
    font-weight: 400;
    font-style: italic;
}

.semibold{
    font-weight: 600;
}

.semibold-it{
    font-weight: 600;
    font-style: italic;
}

.bold{
    font-weight: 700;
}

.bold-it{
    font-weight: 700;
    font-style: italic;
}

.ultrabold{
    font-weight: 900;
}

.ultrabold-it{
    font-weight: 900;
    font-style: italic;
}

// Font Size
// =========
.font-size-xs{
    font-size: 10px;;
}

.font-size-sm{
    font-size: 14px;;
}

.font-size-md{
    font-size: 18px;;
}

.font-size-lg{
    font-size: 30px;;
}

.font-size-xl{
    font-size: 60px;;
}

.button-home-color2{
    background: $color2;
    text-shadow: 2px 2px darken($color2, 5%);
}

.button-home-color2:hover{
    background: lighten($color2, 10%);
}

.button-home-color4{
    background: $color4;
    text-shadow: 2px 2px darken($color4, 10%);
}

.button-home-color4:hover{
    background: lighten($color4, 5%);
}


// Spaces
// ======
.space-xs{
    width: 100%;
    height: 4px;
}

@media(min-width: 768px) {
    .space-xs{
        height: 4px;
    }
}

.space-sm{
    width: 100%;
    height: 15px;
}

@media(min-width: 768px) {
    .space-sm{
        height: 15px;
    }
}

.space-md{
    width: 100%;
    height: 40px;
}

@media(min-width: 768px) {
    .space-md{
        height: 40px;
    }
}

.space-lg{
    width: 100%;
    height: 80px;
}

@media(min-width: 768px) {
    .space-xl{
        height: 80px;
    }
}

.space-xl{
    width: 100%;
    height: 80px;
}

@media(min-width: 768px) {
    .space-xl{
        height: 180;
    }
}

.space-overlay{
    width: 100%;
    height: 100%;
}

// Text Color
// ==========
.text-color1{
    color: $color1;
}

.text-color2{
    color: $color2;
}

.text-color3{
    color: $color3;
}

.text-color-success{
    color: lighten($color1, 5%);
}

.text-color-danger{
    color: lighten($c-danger, 5%);
}

// Kaps
// ====
.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

span.capitalize {
    text-transform: capitalize;
}

// Line Break
// ==========
.line-color1{
    width: 100%;
    height: 1px;
    background: $color1;
}

.line-color2{
    width: 100%;
    height: 1px;
    background: lighten($color2, 20%);
}

.line-grey{
    width: 100%;
    height: 1px;
    background: lighten($c-grey, 57%);
}

// Backgrounds
// ===========
.background-color{
    width: 100%;
    background: $color-background;
}

.background-color2{
    width: 100%;
    background: lighten($c-grey, 60%);
}

// Postition
// =====================
.fixed{
    position: fixed;
}

.absolute{
    position: absolute;
}

.relative{
    position: relative;
}

.inline-block{
    display: inline-block;
}

// Text Color
// =====================
.text-color1{
    color: $color1;
}

.color-text{
    color: $color-text;
}

// Opacity
// =====================
.opacity7{
    opacity: .7;
}



// Background Color
// =====================
.bg-color1{
    background: $color1;
}

.bg-color2{
    background: $color2;
}

.bg-white{
    background: white;
}

// Horizontal Space
// =====================
.space-horizontal-sm{
    width: 15px;
    height: 1px;
}

.space-horizontal-md{
    width: 40px;
    height: 1px;
}

// Text Uppercase
// =====================
.text-uppercase{
    text-transform: capitalize;
}

// --
// =====================


// --
// =====================


// --
// =====================

// --
// =====================


// --
// =====================


// --
// =====================

