
@import url(http://fonts.googleapis.com/css?family=Asap:400,700,700italic,400italic);
@import "variables";

// Default Styling
// ============================================================================================================

body{
    font-family: "Source Sans Pro", "Asap","Open Sans";
    color: $color-text;
    margin: 0px;
    padding: 0px;
    height: 100%;
    background: $color-background;
}

.panel{
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0);
  box-shadow: 0 1px 1px rgba(0,0,0,0);
}

.page-width{
    min-width: 100%;
}

.contact-wrapper{
    background: $color-background;
}

a:hover, a:link{
    text-decoration: none;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

label{
    color: $color-text;
}



.verticalOuter{
    display: table;
    .verticalInner{
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }
}

// =====
.page-background{
    width: 100%;
    height: auto;
    min-height: 100%;
    border-left: 1px solid lighten(black, 92%);
    border-right: 1px solid lighten(black, 92%);
    border-bottom: 1px solid lighten(black, 92%);
    background: white;
}

//strips col- of padding and margin
.no-gutter [class*='col-'] {
    padding-right: 0px !important;
    padding-left: 0px !important;  
}

.no-gutter-left [class*='col-'] {
    padding-left: 0px !important;  
}

.no-gutter-right [class*='col-'] {
    padding-right: 0px !important;
}

.no-gutter-vertical [class*='col-'] {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;  
}



.underline:hover{
    text-decoration: underline;
}



br{
    line-height: 2px;
}

.bold{
    font-weight: bold;
    color: $color-text;
}

a:visited{
    text-decoration: none;
}

li{
    list-style-type: none; 
}

// Spinner
.fa-spinner{
    color: $color1;
}


// find a place
// ============================================================================================================
.nav-tabs{
    font-size: medium;
    border-bottom: 0px;
}

.list-group{
    margin-bottom: 0px;
}


// Adds space below header except home and dash
// ============================================================================================================

.glyphicon-arrow-left{
    font-size: xx-large;
    color: lighten($c-grey, 20%);
    margin: 10px 0px 40px 20px;
    opacity: .8;
}


// Panel Styleing
// ============================================================================================================
.panel-primary > .panel-heading{
    background: #EBEBEB;
    border-color: #EBEBEB;
    color: $c-grey-darker;
}

.glyphicon-cog{
    padding-top: 3px
}

// House List Styling
// ============================================================================================================
.results-wrapper, .dash-wrapper, .customer-wrapper{

    .sr{
        img, span, p {cursor: pointer !important}
    }

    .sr {
        text-transform: capitalize;
    }

    .glyphicon-remove-circle{
        color: $c-grey-lighter
    }
    .sr-no-space{
        margin-bottom: 0px;
    }

    .btn-review{
        height: 43px;
        color: rgba(0,125,153,.9);
        background: $color1-light;
        text-transform: capitalize;
        border-bottom: 2px solid $color1;
        font-weight: 700;
        text-shadow: 1px 1px rgba(255,255,255,.3);
        border-top: none;
        border-left: none;
        border-right: none;
    }

    .btn-review:hover{
        -webkit-filter: brightness(1.05);
        filter: brightness(1.05);
    }

    .sr-house-td{
        width: 60px;
    }

    .sr-house{
        height: 44px !important;
    }

    .sr-rev{
        font-size: small;
        text-align: right;
        color: $c-link;
        padding-top: 34px;
        padding-right: 12px;
    }

    .glyphicon-thumbs-down{
        color: $c-danger;
        font-size: large;
        padding: 2px;
    }

    .glyphicon-thumbs-up{
        color: $color1;
        font-size: large;
        padding: 2px;
    }

    .sr-house{
        height: 44px;
    }
}

// Text Effects
// ============================================================================================================
.text-effect-1 span{
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: $color1-dark;
}

.dash-wrapper, .results-wrapper{
    table td{
        border: 0px !important;
        font-size: small;
    }}

@media(min-width: 768px) {
    .dash-wrapper, .results-wrapper{
        table td{
            border: 0px !important;
            font-size: medium;
        }}
}

.small-text{
    font-size: small;
}

.sm-icon:hover{
    opacity: .6;
}

// Review Modal Styling - Star Section
// ============================================================================================================
.jquery-ratings-star {
    margin-right: 8px;
    float: left;
    background-repeat: no-repeat;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 34px;
    height: 12px;
    position: relative;
    border: none;
    -webkit-border-radius: 50% / 10%;
    border-radius: 50% / 10%;
    color: white;
    text-align: center;
    text-indent: 0.1em;
    background: $c-grey-lighter; 
    padding-bottom: 24px;
}

.jquery-ratings-star::before {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    position: absolute;
    top: 10%;
    right: -5%;
    bottom: 10%;
    left: -5%;
    border: none;
    -webkit-border-radius: 5% / 50%;
    border-radius: 5% / 50%;
    background: $c-grey-lighter;

    content: "\f005";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: rgba(255,255,255,.4);
    font-size: 22px;
}

.jquery-ratings-full, .jquery-ratings-full::before {
    background: $color1-light;
}

.five-review .panel-body{
    padding: 8px;
}

// Review Modal Styling
// ============================================================================================================
.modal-header{
    background: $color1;
    color: white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.btn-info{
    color: white;
}

.btn-info:hover{
    background: $color1-light;
    color: white;
}

.modal-footer{
    background: $color-background;
    border-radius: 4px;
}


.menuitem-band:hover{
    background: $color1 !important;
    color: white !important;
}


// ==============
.result-2{
    width: auto;
    margin: 0px;
}

@media(min-width: 768px) {
    .result-2{
        width: 80px;
    }
}


// ?
.relative{
    position: inherit;
}

.report-tag{
    .label:hover{
        cursor: default;
        -webkit-filter: brightness(0.9);
        -moz-filter: brightness(0.9);
        -o-filter:  brightness(0.9);
        -ms-filter:  brightness(0.9);
    }
}

hr{
    margin: 2px;
}

// Header Dropdown Arrow
// ============================================================================================================
.dropdown-menu:before {
    position: absolute;
    top: -7px;
    left: 245px;
    display: inline-block;
    border-right: 9px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 9px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}

.dropdown-menu:after {
    position: absolute;
    top: -6px;
    left: 246px;
    display: inline-block;
    border-right: 8px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 8px solid transparent;
    content: '';
}

.dropdown-menu-dash:before {
    position: absolute;
    top: -7px;
    left: 229px;
    display: inline-block;
    border-right: 9px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 9px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}

.dropdown-menu-dash:after {
    position: absolute;
    top: -6px;
    left: 230px;
    display: inline-block;
    border-right: 8px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 8px solid transparent;
    content: '';
}

// Client house image on popover
// ============================================================================================================
div.enlarge div{
    display: inline-block; /*places the images in a line*/
    position: relative;
    z-index: 0; /*resets the stack order of the list items - later we'll increase this*/
}

div.enlarge span{
    position: absolute;
    left: -9999px; 
    -webkit-box-shadow: 0 0 10px rgba(0,0,0, .3);
    -moz-box-shadow: 0 0 10px rgba(0,0,0, .3);
    box-shadow: 0 0 10px rgba(0,0,0, .3);
}

div.enlarge div:hover{
    z-index: 50;
    cursor: pointer;
}

div.enlarge div:hover span{ 
    top: -190px; /*the distance from the bottom of the thumbnail to the top of the popup image*/
    left: -140px; /*distance from the left of the thumbnail to the left of the popup image*/
}

/**IE Hacks - see http://css3pie.com/ for more info on how to use CS3Pie and to download the latest version**/
div.enlarge img, div.enlarge span{
    behavior: url(pie/PIE.htc); 
}


// Fa-awsome Check Box
// ============================================================================================================
input[type=checkbox] { display:none; } /* to hide the checkbox itself */
input[type=checkbox] + label:before {
    font-family: FontAwesome;
}

input[type=checkbox] + label:before { content: "\f096"; } /* unchecked icon */
input[type=checkbox] + label:before { letter-spacing: 10px; } /* space between checkbox and label */

input[type=checkbox]:checked + label:before { content: "\f046"; } /* checked icon */
input[type=checkbox]:checked + label:before { letter-spacing: 8px; } /* allow space for check mark */
input[type=checkbox]:checked + label:before { color: darken($color1, 8%) } /* color */


// Founders stuff
// ============================================================================================================
.img-circle{
    width: 180px;
    height: 180px;
}

.founders-wrapper{
    h1,h2{
        margin-top: 0px;
    } 
}


// active reveiw tags
// =============
.review-tag-wrapper{
    font-size: 12px;
}
// pro
.active-tag-pro{
    color: lighten(black, 60%);
    font-weight: bold;
    background: lighten(black, 80%);
    width: min-content;
    height:  min-content;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 4px;
    margin-bottom: 4px;

    display: inline-block;
}

.active-tag-pro:hover{
    color: lighten(black, 60%);
}

.active-tag-pro-after{
    color: white;
    background: lighten($color2, 10%);
}

.active-tag-pro-after:hover{
    color: white;
}

// con
.active-tag-con{
    color: lighten(black, 60%);
    font-weight: bold;
    background: lighten(black, 80%);
    width: min-content;
    height:  min-content;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 4px;
    margin-bottom: 4px;

    display: inline-block;
    font-size: 12px;
}

.active-tag-con:hover{
    color: lighten(black, 60%);
}

.active-tag-con-after{
    color: white;
    background: lighten($c-danger, 10%);
}

.active-tag-con-after:hover{
    color: white;
}

// my clients add/drop
// ===================
.fa-trash-o{
    color: $color-text;
}


