
// resets to fix bootstrap
.form-horizontal .form-group{
    margin-right: auto;
}

// Color Palette
// ============================================================================================================
$color-background: lighten(black, 96%);
$color-text: #565a5c;

$color1: #008299;
$color2: #1AECF0;
$color3: #EAEA6E;
$color4: #323a45;


$color-icon-light: lighten(black, 85%);

//delete
$color1-light: #4DA4B8;
$color1-dark: #00647A;

$color2-light: #F0F09A;
$color2-dark: #8C8C42;

$color3-light: #b4a76c;
$color3-dark: #19647E;
//delete

$c-grey-darker: #222;
$c-grey-dark: #333;
$c-grey: #555;
$c-grey-light: #777;
$c-grey-lighter: #eee;
$c-grey-white: #f1f2f2;
$c-grey-lightness: rgba(0,0,0,0.15);

$c-success: #5cb85c;
$c-success-dark: #3c763d;
$c-danger:  #d9534f;
$c-danger-dark:  #a94442;
$c-info:    #5bc0de;
$c-warning: #f0ad4e;
$c-primary: #428bca;
$c-link: #428bca;
